{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <h2>Connexion</h2>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="row">
                <div class="col-5">
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                           class="form-control" placeholder="Nom d'utilisateur" required autofocus>

                </div>
                <div class="col-5">
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="Mot de passe" required>


                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="col-2">
                    <button class="btn btn-info btn-block" type="submit">
                        Connexion
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
