{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-danger">Erreur : {{ status_text }}</h2>
    </div>
{% endblock %}

