{% extends 'base.html.twig' %}

{% block title %}Kaguya{% endblock %}

{% block body %}
    <div class="container">
        <h2>Tous les repos</h2>
        <ul>
            {% for repo in repos %}
                <li><a href="{{ path('repos_user', {username: repo.user.username}) }}">{{ repo.user.username }}</a>/<a href="{{ path('repo_browse', {username: repo.user.username, repoName: repo.repoName}) }}">{{ repo.repoName }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
